<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                (closed)="events.push('close!')">
      Sidenav content
      <h2><button mat-button routerLink="home" id="test">Home</button></h2>
      <a routerLink="test"><p>Test</p></a>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="menu1">
      </div>
      <div class="menu">
        <h1 class="menuItem">Login</h1>
        <h1 class="menuItem">Sign In</h1>
      </div>
      <div>
      <button mat-button (click)="sidenav.toggle()">Open menu</button>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>  
  </mat-sidenav-container>
  <iframe width="110" height="200" src="https://www.myinstants.com/instant/drunk-squirrel-laugh-76444/embed/" frameborder="0" scrolling="no"></iframe>  