<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                (closed)="events.push('close!')">
      <div class="nav-buttons">
        <button mat-button routerLink="home" class="nav-button home-button">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-button routerLink="about-us" class="nav-button">About Us</button>
        <button mat-button routerLink="product" class="nav-button">Product</button>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="menu1">
      </div>
      <div class="menu">
        <h1 class="menuItem">Login</h1>
        <h1 class="menuItem">Sign In</h1>
      </div>
      <div>
        <button mat-button (click)="sidenav.toggle()" class="nav-button menu-toggle">
          <mat-icon>{{sidenav.opened ? 'arrow_back' : 'arrow_forward'}}</mat-icon>
        </button>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>  
</mat-sidenav-container>