<p>invoices works!</p>
<h1 [style.display]="empty">You havent made a purchase yet!</h1>
<div *ngFor="let invoice of invoices">
    <p>Base Cost: {{ invoice.baseCost }}</p>
    <p>Milk: {{ invoice.milk }}</p>
    <p>Syrup: {{ invoice.syrup }}</p>
    <p>Caffeine: {{ invoice.caffeine }}</p>
    <p>Discount: {{ invoice.discount }}</p>
    <p>Subtotal: {{ invoice.subtotal }}</p>
    <p>Tax: {{ invoice.tax }}</p>
    <p>Total: {{ invoice.total }}</p>
    <button (click)="downloadInvoicePDF(invoice.id)">Download</button>
</div>
