<div>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Task Title</mat-label>
      <input matInput id="testIn" [(ngModel)]="newItem" name="newItem" placeholder="Title" maxlength="50" type="text">
    </mat-form-field>
</form>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Description (optional)</mat-label>
    <input matInput id="testIn" [(ngModel)]="newItemdesc" name="newItemdesc" placeholder="Task description" maxlength="50" type="text">
  </mat-form-field>
  <button (click)="addTask()" style="display: block;">Add task</button>
</form>
</div>

<div>
  <div class="example-container">
    <h2>To Do</h2>
  
    <div
      cdkDropList
      #list1="cdkDropList"                  
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[list2,list3]"    
      class="example-list"
      (cdkDropListDropped)="drop($event)">
  
      <div *ngFor="let item of todo;" class="example-box" cdkDrag>
        <h2>{{ item.name }} </h2>
        <p>{{ item.desc}}</p>
        <button (click)="deleteTodo(item.id)">Delete</button>
        
      </div>
    </div>
  </div>
<button (click)="alertFunc()">Alert</button>
  <div>
    <div class="example-container">
      <h2>In Progress</h2>
    
      <div
        cdkDropList
        #list3="cdkDropList"                  
        [cdkDropListData]="progress"
        [cdkDropListConnectedTo]="[list2,list1]"    
        class="example-list"
        (cdkDropListDropped)="drop($event)">
    
        <div *ngFor="let item of progress;" class="example-box" cdkDrag>
          <h2>{{ item.name }}</h2> 
          <p>{{ item.desc}}</p>
          <button (click)="deleteProgess(item.id)">Delete</button>
        </div>
      </div>
    </div>
  
  <div class="example-container">
    <h2>Done</h2>
  
    <div
      cdkDropList
      #list2="cdkDropList"                  
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[list1,list3]"    
      class="example-list"
      (cdkDropListDropped)="drop($event)">
  
    
      <div *ngFor="let item of done;" class="example-box" cdkDrag>
        <h2>{{ item.name }}</h2>
        <p>{{ item.desc}}</p>
        <button (click)="deleteDone(item.id)">Delete</button>
      </div>
    </div>
  </div>
  
</div>