<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Add a task</mat-label>
      <input matInput id="testIn" [(ngModel)]="newItem" name="newItem" placeholder="I need to..." maxlength="50" type="text">
      <button (click)="addTask()">Evil button</button>
    </mat-form-field>
  </form>

<div>
  <div class="example-container">
    <h2>To Do</h2>
  
    <div
      cdkDropList
      #list1="cdkDropList"                  
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[list2,list3]"    
      class="example-list"
      (cdkDropListDropped)="drop($event)">
  
      <div *ngFor="let item of todo;" class="example-box" cdkDrag>
        {{ item.name }} 
        <button (click)="deleteTodo(item.id)">Delete (Evil)</button>
      </div>
    </div>
  </div>

  <div>
    <div class="example-container">
      <h2>In Progress</h2>
    
      <div
        cdkDropList
        #list3="cdkDropList"                  
        [cdkDropListData]="progress"
        [cdkDropListConnectedTo]="[list2,list1]"    
        class="example-list"
        (cdkDropListDropped)="drop($event)">
    
        <div *ngFor="let item of progress;" class="example-box" cdkDrag>
          {{ item.name }} 
          <button (click)="deleteProgess(item.id)">Delete (Evil)</button>
        </div>
      </div>
    </div>
  
  <div class="example-container">
    <h2>Done</h2>
  
    <div
      cdkDropList
      #list2="cdkDropList"                  
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[list1,list3]"    
      class="example-list"
      (cdkDropListDropped)="drop($event)">
  
    
      <div *ngFor="let item of done;" class="example-box" cdkDrag>
        {{ item.name }} 
        <button (click)="deleteDone(item.id)">Delete (Evil)</button>
      </div>
    </div>
  </div>
  
</div>